@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
  overflow-y: visible;
  font-family: 'Nata Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

#root {
  min-height: 100%;
  height: auto;
}

code {
  font-family: inherit;
}
